
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background:#fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 100%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 100%; height: 40%;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 70%; height:40%; margin-left:220px; margin-right:220px;margin-top: 2px;}
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background:#fff(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

.cointainer1{
    background-color: black;
}

* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    
    body {
    height:100vh;
    width:100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2; 
    overflow:auto;
    position: absolute;

    }
    
    





    a {
    
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }
    .navbar {

        display: flex;
        background-color: lightslategray;
        align-items: center;
        
        justify-content: space-between;
        word-spacing:5px;
        padding: 20px;
    
    
        
        }
        
        .nav-links a {
        color: #fff;
        
        }
        
        /* LOGO */
        
        .logo {
        
        font-size: 32px;
        
        }
        
        /* NAVBAR MENU */
        
        .menu {
        
        display: flex;
        
        gap:1em;
        font-size: 18px;
        
        }
        
        .menu li:hover {
        
        background-color:white;
        border-radius: 5px;
        transition: 0.3s ease;
        
        }
        
        .menu li {
        
    padding: 5px 14px;
        
        }
        
        /* DROPDOWN MENU */
        
        .services {
        
    position: relative; 
        
        }
        
        .dropdown {
        
   
        
    padding: 1em 0;
        
    position: absolute; /*WITH RESPECT TO PARENT*/
        
        display: none;
        
        border-radius: 8px;
        
    top: 35px;
        
        }
        
        .dropdown li + li {
        
    margin-top: 10px;
        
        }
        
        .dropdown li {
        
        padding: 0.5em 1em;
        
        width: 8em;
        
    text-align: center;
        
        }
        
        .dropdown li:hover {
        
    background-color: #4c9e9e;
        
        }
        
        .services:hover .dropdown {
        
    display: block;
        
        }
        input[type=checkbox]{display: none;
            
            } 
            
            /*HAMBURGER MENU*/
            
            .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
            
            }
            
            /* APPLYING MEDIA QUERIES */
            
            @media (max-width: 700px) {
            
            .menu { 
            
display:none;
            
position: absolute;
            
background-color:black;
            
right: 0;
            
left: 0;
            
    text-align: center;
            
    padding: 16px 0;
            
            }
            
            .menu li:hover {
            
display: inline-block;
            
background-color:lightslategrey;
            
transition: 0.3s ease;
            
            }
            
            .menu li + li {
            
margin-top: 12px;
            
            }
            
            input[type=checkbox]:checked ~ .menu{
            
        display: block;
            
            }
            
            .hamburger {
            
        display: block;
            
            }
            
            .dropdown {
            
        left: 50%;
            
        top: 30px;
            
        transform: translateX(35%);
            
            }
            
            .dropdown li:hover {
        background-color:teal;
            }
        }
        

        .imp {
            display:inline-block;
        }
    .cm{
        margin-top:60px;
    }
    .af{
        margin-top: 30px;
    }
    .row1 {
        margin-top: 50px;
        width:100%;
      height:600px;
    }

      #logoe {
        width:35px;
        height: 35px;
    }
    
    .rowtext{
        position: absolute;
        top:2700px;
        left: 0px;
        margin-left:60px;
        font-size: 20px;
        font-family: sans-serif;
    }
.listing
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  
  /*just for pen positioning*/
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
}
.listing1{
  margin-top: 460px;
  

}
.product{
    display: inline-block;
    margin-right:20px;
}
.product
{
    margin-top: 60px;
    margin-left:20px;
width:280px;
  position: relative;
}

.product a
{
  text-decoration: none;
}

.img-wrapper
{
  display: block;
  width: 100%;
  height: 240px;
  border: 1px solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.tems{
margin-left: 30px;
}

.info
{
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  padding: 40px 10px 20px 10px;
  text-align: center;
  
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  backface-visibility: hidden;
  transition-property: color,height;
  transition-duration: 0.3s,0.4s;
  transition-timing-function: ease-out;
  height: 83px;
}

.info:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after
{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product:hover .info
{
  height: 40px;
}

.product:hover .info:before
{
  transform: scaleY(0.7);
}

.product:hover .info:after
{
  visibility: visible;
  transform: translateY(10px);
}

.title
{
  transition: transform 0.3s ease-out;
}
.title a
{
  color: inherit;
}
.product:hover .title
{
  transform: translateY(-18px);
  font-weight: bold;
  color: #000;
}

.price
{
  background: #e32d2c;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.price.sale
{
  background:lightslategray;
}

.price.old
{
  font-size: 0.95em;
  padding: 4px 6px;
  text-decoration: line-through;
  top: -43px;
}

.actions-wrapper
{
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

.actions-wrapper *
{
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #191919;
  font-size: 0.95em;
  font-weight: bold;
}
.actions-wrapper *:before
{
  font-family: "FontAwesome";
  margin-right: 8px;
}
.wishlist
{
  border-right: 1px solid #afafaf;
}
.wishlist:hover
{
  color: #e32d2c;
}
.wishlist:before
{
  content: "\f08a";
}

.cart:hover
{
  color: #0a75b9;
}
.cart:before
{
  content: "\f07a";
}

.product:hover .actions-wrapper *
{
  visibility: visible;
}

.note
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 0.9em;
}

.note.on-sale
{
  background: #00ba2f;
  color: #fff;
}

.note.no-stock
{
  background: #191919;
  color: #fff;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}